#include "rcstuff.h"

#define APPNAME "FuTTYtel"
#define APPDESC "Telnet, Rlogin, Cygterm, and Adb client"

#include "win_res.rc2"

#ifndef NO_MANIFESTS
/* FIXME */
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */
